### VSCode & PlatformIO stuff
# Build dirs
build

# Temporary stuff
tmp
tmp.*

# esp32 'old' config file
*.old

# Compiled Python bytecode
*.py[cod]

# PlatformIO stuff
.pio

# VSCode stuff
.vscode

### From github template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
