# Copyright 2021,2022,2023 David SPORN
# ---
# This file is part of 'Weather Central'.
# ---
# 'Weather Central' is free software: you can redistribute it and/or 
# modify it under the terms of the GNU General Public License as published 
# by the Free Software Foundation, either version 3 of the License, or 
# (at your option) any later version.

# 'Weather Central' is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General 
# Public License for more details.

# You should have received a copy of the GNU General Public License along 
# with 'Weather Central'. If not, see <https://www.gnu.org/licenses/>. 

menu "IIC controller #1"
	# to do : enabler
	# to do : work as HOST or PERIPHERAL

	config IIC_1_CLK_FREQ_HZ
	    int "IIC Clock (Hz)"
		range 10000 1000000
		default 250000
		help
			Frequency in Hertz of the IIC clock.

	config PIN_IIC_1_SCL
		int "GPIO Serial Clock"
		range 0 34
		default 32
		help
			GPIO number (IOxx) for the serial clock line.

	config PIN_IIC_1_SDA
		int "GPIO Serial Data"
		range 0 39
		default 33
		help
			GPIO number (IOxx) for the serial data line.

endmenu #"Control panel mapping"
